extends ./shared/layout.jade

block title
    title Change Password

block content
    h1 Change Password

    form(action='/changepassword', method='POST')
        div
            label(for='oldPassword') Old Password
            input#oldPassword(type='password', name='oldPassword', value='pass')
        div
            label(for='newPassword') New Password
            input#newPassword(type='password', name='newPassword', value='newpass')
        div
            label(for='confirmNewPassword') New Password
            input#confirmNewPassword(type='password', name='confirmNewPassword', value='newpass')

        button(type='submit') Change Password
