extends ./shared/layout.jade

block title
    title Forgot Password

block content
    h1 Forgot Password
    form(action='/forgotpassword', method='post')
        p To reset your password, please submit your email below
        div
            label(for='email') Email
            input#email(type='text', name='email', value='user@example.com')
        button(type='submit') Request Password Reset
