extends ./shared/layout.jade

block title
    title Log in

block content
    h1 Register
    div
        a(href='/register') Register

    h1 Log in
    form(action='/login', method='post')
        div
            label(for='email') Email
            input#email(type='text', name='email', value='user@example.com')
        div
            label(for='password') Password
            input#password(type='password', name='password', value='pass')
        button(type='submit') Log In
    div
        br
        a(href='/forgotpassword') Forgot Password?
