extends ./shared/layout.jade

block title
    title Password Reset Requested

block content
    h1 Password Reset Requested

    p= 'A password reset email has been sent to: ' + email
    p= 'See email contents for link (check console window)'
    p= 'Not got it? '
        // a(href='/resendpasswordreset') Resend it (TODO)
        a(href='#') Resend (TODO)
