extends ./shared/layout.jade

block title
    title Reset Password

block content
    h1 Reset Password
    form(action='/resetpassword', method='post')
        input(type='hidden', name='email', value=email)
        input(type='hidden', name='token', value=token)

        p Enter your new password below
        div
            label(for='password') Password
            input#email(type='password', name='password', value='newpass')
        div
            label(for='password') Confirm Password
            input#email(type='password', name='confirmPassword', value='newpass')
        button(type='submit') Request Password Reset